/* App.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  font-family: cursive;
  background-color: rgb(21, 56, 66);
}

/* CSS for GameBoard component */
.container {
  display: flex;
  flex-direction: column;
}

.header,
.options {
  display: flex;
  gap: 20px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

h1 {
  align-self: start;
  font-size: 2.5rem;
  color: rgb(247, 247, 247);
}
h2 {
  color: rgb(247, 247, 247);
  margin: 20px 0;
}

.button {
  border: 2px solid;
  border-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.8rem;
  font-family: cursive;
  width: 200px;
  font-size: 1.2rem;
  font-weight: bolder;
  border-radius: 0.7rem;
  border-style: none;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}
.banner {
  border: 1px solid #fff;
  color: #fff;
  padding: 20px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}
.banner:hover {
  background-color: #fff;
  color: #000;
}
.board {
  display: grid;
  margin: 40px auto;
  place-items: center;
  gap: 20px;
}
.board.gr-1 {
  grid-template-columns: auto;
  width: 50%;
  padding: 20px;
}
.board.gr-2 {
  grid-template-columns: repeat(2, 100px);
}
.board.gr-4 {
  grid-template-columns: repeat(4, 100px);
}
.board.gr-6 {
  grid-template-columns: repeat(6, 100px);
}
.gameover {
  display: flex;
  min-height: 300px;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.status {
  padding: 0.25rem 1rem;
  background-color: white;
  margin: 40px auto;
  text-align: center;
  border-radius: 2rem;
}

/* CSS for Card component */
.face {
  height: 6rem;
}

.back {
  height: 6rem;
  width: 6rem;
  background-color: rgb(253, 218, 175);
  color: rgb(61, 21, 21);
  border: 1px solid black;
}

.item {
  border: 1px solid #fff;
  width: 100px;
  height: 150px;
}
.item .face {
  display: flex;
  width: 100px;
  height: 150px;
  background-color: #fff;
  color: #000;
  position: relative;
  transform: rotateY(90deg);
  transition: all ease-in 0.25s;
  justify-content: center;
  align-items: center;
}

.toggled .face {
  transform: rotateY(0deg);
  transition-delay: 0.25s;
}
.toggled {
  opacity: 1;
  transition-delay: 1s;
  transition-duration: 0.5s;
}
.item.hide {
  opacity: 0;
}
.item .back {
  transition: all ease-in 0.25s;
  transition-delay: 0.25s;
}

.toggled .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}
